.custom-bullet {
    background-color: rgba(255, 255, 255, 0.5); /* แถบขาวใส */
    width: 20px;
    height: 4px;
    border-radius: 2px;
    margin: 0 4px;
    transition: all 0.3s ease;
  }
  
  .custom-bullet-active {
    background-color: #ffffff; /* สีเมื่อ active */
    width: 32px;
  }

  .swiper-pagination {
    bottom: 20px !important; /* ระยะห่างจากด้านล่าง */
    left: 50% !important;
    transform: translateX(-50%);
    text-align: center;
    width: auto !important;
  }